#d0,
#d1,
#d2,
#d3,
#d4,
#d5,
#d6,
#d7,
#d8,
#d9,
#d10 {
    margin-left: 60px;
}

#a4,
#b4,
#c4,
#d4,
#e4,
#f4 {
    margin-bottom: 40px;
}

h3 {
    text-align: center;
}

.botones {
    display: grid;
    grid-template-columns: repeat(6, auto);
    width: 500px;
    height: 500px;
    gap: 5px;



    &__caja {
        width: 500px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &__asientos {
        display: flex;
        width: 500px;
        justify-content: space-between;
        margin-bottom: 40px;

    }

    &__container {
        color: transparent;
        background-color: rgb(210, 210, 210);
        border: solid 3px transparent;

        &:focus {
            border: solid 3px rgb(126, 32, 126);
            background-color: white;
        }

        &:hover {
            background: rgb(126, 32, 126);
            color: white;
            font-weight: bold;
        }
    }

    &__h4 {
        height: 23px;
    }

    &__salidaRapida {
        position: absolute;
        text-align: center;
        transform: translatex(1px) translateY(-8px); 
        top: 60px;
    }

    &__estandar{
        position: absolute;
        text-align: center;
        transform: translatex(-10px);
        bottom: -10px;
    }
    &__estandarTitulo{
        transform: translateX(10px);
    }

    &__h4{
        transform: translatex(17px);
        width:50px;
    }

}